a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  height: 70px;
  padding: 0 30px;
  color: black;
  background: white;
}

.header__ttl {
  font-size: 30px;
}

.header__nav-list {
  display: flex;
  font-weight: bold;
}

.header__nav-item:not(:last-child) {
  margin-right: 30px;
}

.menu {
  display: none;
}

.drawer-nav {
  display: none;
}

.service__wrapper-header {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center/cover;
}

.service__wrapper-header h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.service__wrapper-list {
  width: 85%;
  margin: 0 auto;
  padding: 80px 0;
}

.service__wrapper-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid black;
}

.service__wrapper-item:last-child {
  border-bottom: 1px solid black;
}

.service__wrapper-item-img {
  width: 25%;
}

.service__wrapper-item-img img {
  width: 100%;
  height: auto;
}

.service__wrapper-item-contents {
  width: 70%;
}

.service__wrapper-item-ttl {
  font-size: 25px;
  font-weight: bold;
}

.service__wrapper-item-txt {
  margin-top: 5px;
  line-height: 1.5;
}

.contact__wrapper {
  background-color: whitesmoke;
  text-align: center;
  padding: 80px 0;
}

.contact__wrapper-txt {
  margin-top: 10px;
}

.contact__wrapper-btn {
  display: block;
  width: 300px;
  font-weight: bold;
  padding: 10px;
  background-color: tomato;
  color: white;
  margin: 40px auto 0;
}

.footer {
  background: black;
  color: white;
  padding: 20px 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  width: 85%;
  margin: 0 auto;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-item:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}

.footer__nav-item:last-child:after {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu-line-top {
    top: 0;
  }

  .menu-line-middle {
    top: 14px;
  }

  .menu-line-bottom {
    bottom: 0;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: 0.7s;
  }

  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }

  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }

  .in {
    transform: translateX(100%);
  }

  .service__wrapper-item-img {
    width: 100%;
  }

  .service__wrapper-item-contents {
    width: 100%;
  }
  .footer__copyright {
    margin: 0 auto;
  }

  .footer__nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }

  .footer__nav-item:after {
    display: none;
  }
}
